.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}

.blue-button:focus, .white-button:focus {
  outline: 4px solid #E9EAFD;
  border-radius: 4px;
}

.blue-button:hover, .blue-button:focus {
  background-color: #3730A3;
}

.white-button:hover, .white-button:focus {
  background-color: #FAFAFA;
}