.card {
  margin-top: 120px;
  width: 340px;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid rgb(229, 229, 229);
  box-shadow: 0px 24px 78.4px -27px rgb(43, 43, 43, 0.15);
}

.card img {
  border-radius: 8px 8px 0px 0px;
  width: 100%;
  height: 288px;
  object-fit: cover;
}

.content {
  padding: 24px 16px;
}

.card header {
  padding-bottom: 12px;
}

.card p {
  padding-bottom: 24px;
}

.card button {
  display: flex;
  align-items: center;
  gap: 6px;
  padding-left: 2px;
}

.card button:focus {
  border-radius: 4px;
  border-width: 4px;
  border-color: #E9EAFD;
}

.GoArrowRight {
  width: 20px;
  height: 20px;
}

.badge {
  color: #15803d;
  background-color: #F0FDF4;
  border-color: #BBF7D0;
  width: fit-content;
  border-width: 1px;
  padding: 2px 8px;
  border-radius: 9999px;
  margin-bottom: 8px;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
